<footer
  class="fixed bottom-0 left-0 z-20 w-full p-4 shadow md:flex md:items-center md:justify-between md:p-6 bg-black/20 backdrop-blur-lg"
>
  <span class="text-sm text-blue-200/90 sm:text-center dark:text-gray-400"
    >© 2024 <a
      href="https://www.linkedin.com/in/sebastianpalmasanchez/"
      class="hover:underline">Sebastián Palma Sánchez™</a
    >. Todos los derechos reservados.
  </span>
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium text-red-200/90 dark:text-gray-400 sm:mt-0"
  >
    <li>
      <a href="#" class="hover:underline me-4 md:me-6">Sobre mi</a>
    </li>
    <li>
      <a href="mailto:sebapalma59@gmail.com" class="hover:underline">Contacto</a
      >
    </li>
  </ul>
</footer>
