<header
  class="hidden md:overflow-hidden fixed top-0 z-10 md:flex items-center justify-center w-full mx-aut p-4 shadow bg-blue-200/10 backdrop-blur-lg"
>
  <nav
    class="flex px-3 text-sm md:text-lg text-gray-200 dark:text-gray-800 justify-center items-center"
  >
    <a class="hover:text-blue-200/90 hover:underline px-2" href="/">Sobre mi</a>
    <a class="hover:text-blue-200/90 hover:underline px-2" href="#experiencia"
      >Experiencia</a
    >
    <a class="hover:text-blue-200/90 hover:underline px-2" href="#proyectos"
      >Proyectos</a
    >
    <a
      class="hover:text-blue-200/90 hover:underline px-2"
      href="mailto:sebapalma59@gmail.com">Contacto</a
    >
  </nav>
</header>
