<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm md:text-lg font-medium rounded-full text-gray-200 dark:text-gray-800 justify-center items-center opacity-70"
  >
    <a class="hover:text-blue-200/90 hover:underline px-2" href="/">Sobre mi</a>
    <a class="hover:text-blue-200/90 hover:underline px-2" href="#experiencia"
      >Experiencia</a
    >
    <a class="hover:text-blue-200/90 hover:underline px-2" href="#proyectos"
      >Proyectos</a
    >
    <a
      class="hover:text-blue-200/90 hover:underline px-2"
      href="mailto:sebapalma59@gmail.com">Contacto</a
    >
  </nav>
</header>
