---
// Importación Iconos Frontend
import ReactIcon from "../components/icons/ReactIcons.astro";
import JavaScriptIcon from "../components/icons/JavascriptIcon.astro";
import BootstrapIcon from "../components/icons/BootstrapIcon.astro";
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import HtmlIcon from "../components/icons/HtmlIcon.astro";
import CssIcon from "../components/icons/CssIcon.astro";
// Importación Iconos Backend
import NodeIcon from "../components/icons/NodeIcon.astro";
import MysqlIcon from "../components/icons/MysqlIcon.astro";
import PostgreIcon from "../components/icons/PostgreIcon.astro";
import PostmanIcon from "../components/icons/PostmanIcon.astro";
// Importación Iconos Herramientas
import GitIcon from "../components/icons/GitIcon.astro";
import VisualIcon from "../components/icons/VisualIcon.astro";
import NpmIcon from "../components/icons/NpmIcon.astro";
import YarnIcon from "../components/icons/YarnIcon.astro";
import ViteIcon from "../components/icons/ViteIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
---

<!-- Frontend -->
<div
  class="hover:bg-black/20 bg-black/70 items-center mb-10 sm:flex sm:flex-col border border-blue-200/90 py-2 px-4 mr-4 rounded-lg"
>
  <h3 class="text-2xl font-semibold m-6 text-blue-200/90">Frontend</h3>

  <div class="flex flex-wrap justify-center sm:justify-start">
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <HtmlIcon class="w-8 h-8" />
      <h1 class="mt-2">HTML</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <CssIcon class="w-8 h-8" />
      <h1 class="mt-2">CSS</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <JavaScriptIcon class="w-8 h-8" />
      <h1 class="mt-2">JavaScript</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <ReactIcon class="w-8 h-8" />
      <h1 class="mt-2">ReactJS</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <TailwindIcon class="w-8 h-8" />
      <h1 class="mt-2">TailwindCSS</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <BootstrapIcon class="w-8 h-8" />
      <h1 class="mt-2">Bootstrap</h1>
    </div>
  </div>
</div>

<!-- Backend -->
<div
  class="hover:bg-black/20 bg-black/70 items-center mb-10 sm:flex sm:flex-col border border-blue-200/90 py-2 px-4 mr-4 rounded-lg"
>
  <h3 class="text-2xl font-semibold m-6 text-red-200/90">Backend</h3>

  <div class="flex flex-wrap justify-center sm:justify-start">
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <MysqlIcon class="w-8 h-8" />
      <h1 class="mt-2">MySQL</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <PostgreIcon class="w-8 h-8" />
      <h1 class="mt-2">PostgreSQL</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <NodeIcon class="w-8 h-8" />
      <h1 class="mt-2">NodeJS</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <PostmanIcon class="w-8 h-8" />
      <h1 class="mt-2">Postman</h1>
    </div>
  </div>
</div>

<!-- Herramientas -->
<div
  class="hover:bg-black/20 bg-black/70 items-center mb-10 sm:flex sm:flex-col border border-blue-200/90 py-2 px-4 mr-4 rounded-lg"
>
  <h3 class="text-2xl font-semibold m-6 opacity-50">Herramientas</h3>

  <div class="flex flex-wrap justify-center sm:justify-start">
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <GitIcon class="w-8 h-8" />
      <h1 class="mt-2">Git</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <GitHubIcon class="w-8 h-8" />
      <h1 class="mt-2">GitHub</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <VisualIcon class="w-8 h-8" />
      <h1 class="mt-2">VsCode</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <NpmIcon class="w-8 h-8" />
      <h1 class="mt-2">npm</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <YarnIcon class="w-8 h-8" />
      <h1 class="mt-2">Yarn</h1>
    </div>
    <div class="mr-4 mb-4 flex flex-col items-center justify-center">
      <ViteIcon class="w-8 h-8" />
      <h1 class="mt-2">Vite</h1>
    </div>
  </div>
</div>
